<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../js/validation.js"></script>
    <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
    <script src="../js/captcha.js"></script>
    <script src="../js/uploadFile.js"></script>
    <script>placenumber();</script>
    <link rel="stylesheet" href="../style/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/moncss.css"/>
    <title>Mon formulaire</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1 class="center-block">Formulaire</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <form class="form-horizontal" onsubmit="return validation()">
                <div class="form-group">
                    <label class="control-label" for="nom">Nom : </label> <span id="nom_error" class="hidden"></span>
                    <input type="text" class="form-control" id="nom" placeholder="Votre nom"/>
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom : </label> <span id="prenom_error" class="hidden"></span>
                    <input type="text" class="form-control" id="prenom" placeholder="Votre prenom"/>
                </div>
                <div class="form-group">
                    <label for="datenaiss">Date de naissance : </label> <span id="datenaiss_error"
                                                                              class="hidden"></span>
                    <input type="date" class="form-control" id="datenaiss" placeholder="Votre date de naissance"/>
                </div>
                <div class="form-group">
                    <label for="nom">Email : </label> </label> <span id="email_error" class="hidden"></span>
                    <input type="email" class="form-control" id="Email" placeholder="Votre email"/>
                </div>
                <div class="form-group">
                    <label for="adresse">Adresse : </label> <span id="adresse_error" class="hidden"></span>
                    <input type="text" class="form-control" id="adresse" placeholder="Votre adresse"/>
                </div>
                <div class="form-group">
                    <label for="cp">Code postal : </label> <span id="cp_error" class="hidden"></span>
                    <input type="text" class="form-control" id="cp" placeholder="Votre code postale"/>
                </div>
                <div class="form-group">
                    <label for="login">Login : </label> <span id="login_error" class="hidden"></span>
                    <input type="text" class="form-control" id="login" placeholder="Votre nom"/>
                </div>
                <div class="form-group">
                    <label for="mdp">Password : </label>
                    <input type="password" class="form-control" id="mdp" placeholder="Votre mot de passe"/>
                </div>

                <div class="form-group">
                    <!--   <input id="fileselector" type="file" onchange="traiteFichiers();" class="btn btn-primary"><span
                           class="glyphicon glyphicon-paperclip"
                           aria-hidden="true"></span> Ajouter fichier
                       </input> -->

                    <div id="upl">
                        <label for="fileselect">Ajouter des images : </label>
                        <input type="file" id="fileselect" name="fileselect[]" multiple="multiple"/>

                        <div id="filedrag"><img id="upload-icon" src="../img/Upload-Folder-Blue-icon.png"
                                                alt="ou glisser ici"/></div>
                    </div>

                    <!--<div id="submitbutton">
                        <button type="submit">Upload Files</button>
                    </div>-->

                    <center>
                        <div id="progress"></div>

                        <div id="messages">
                            <p></p>
                        </div>
                    </center>
                </div>

                <div class="form-group">

                    <span>combien font <span id="no1"></span> + <span id="no2"></span>?</span>
                    <input name="answer" id="answer" pattern="7"
                           title="Prouvez que vous n'étes pas un putain de robot" placeholder="your answer">
                    <button onclick="hasHtml5Validation()" class="btn btn-primary"><span
                            class="glyphicon glyphicon-eye-open"
                            aria-hidden="true"></span> Verifier
                    </button>
                </div>

                <div class="form-group">
                    <button onclick="validation()" class="btn btn-primary"
                            formaction="https://github.com/marwensaid/TP-Web-Components-"><span
                            class="glyphicon glyphicon-send"
                            aria-hidden="true"></span> Envoyer
                    </button>

                    <button onclick="showLocation()" class="btn btn-primary"
                            formaction="https://www.google.fr/maps"><span
                            class="glyphicon glyphicon-globe"
                            aria-hidden="true"></span>
                        Géolocalise moi
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>