<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JS Bin</title>
</head>
<body>
<form onsubmit="return soumettre();">
    <fieldset>
        <legend>Nouveau message</legend>
        <label id="labelTitre"  for="titre">Titre : </label>
        <input id="titre" name="titre" type="text" required><p>
        <label for="contenu">Contenu : </label><br>
        <textarea rows=10  id="titre" name="titre" type="text" required></textarea><p>
        Ajouter des images: <input id="fileSelector" type="file" onchange="traiteFichiers();" multiple>
        <p>
            <button onclick="geolocalise();">Géolocalise moi</button>
            <button   value="Envoyer">Envoyer</input>
    </fieldset>
</form>
</body>
</html>