<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JS Bin</title>
</head>
<body>
<form onsubmit="return soumettre();">
    <fieldset>
        <legend>Nouveau message</legend>
        <label for="titre">Titre : </label>
        <input id="titre" name="titre" type="text" required>

        <p>
            <label for="contenu">Contenu : </label><br>
            <textarea rows=10 id="contenu" name="contenu" type="text" required></textarea>
        </p>

        <p>
            Ajouter des images: <input id="fileSelector" type="file" multiple>

        </p>
        <button value="Envoyer"/>Envoyer</input>
    </fieldset>
</form>
</body>
</html>